<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      {{#if loggedUserData}}
      <div id="cidHolder" class="card mb-3 cart-container" cid="{{loggedUserData.cart}}">
        <div class="card-header cart-header">Productos en el carrito</div>
        <div class="card-body">
          {{#each cartProducts.products}}
          <div class="cart-item card mb-3">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="{{product.thumbnails.[0]}}" alt="{{product.title}}" class="cart-product-image">
                <hr class="vertical-line">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="cart-product-title">{{product.title}}</h5>
                  <p class="cart-product-stock">Stock: {{this.product.stock}}</p>
                  <p class="cart-product-price">Precio: ${{this.product.price}}</p>
                  <div class="d-flex align-items-center cart-quantity-container">
                    <button class="btn btn-quantity-minus" type="button"
                      onclick="decrementQuantity(this.nextElementSibling)">-</button>
                    <input pid="{{product._id}}" type="text" class="cart-quantity-input" value="{{this.quantity}}"
                      maxlength="2"
                      oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value === '') this.value = '1'; if(parseInt(this.value) < 1) this.value = '1'; if(parseInt(this.value) > 99) this.value = '99';">
                    <button class="btn btn-quantity-plus" type="button"
                      onclick="incrementQuantity(this.previousElementSibling)">+</button>
                    <button class="btn btn-remove" type="button" pid="{{product._id}}">x</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{else}}
      <p>No hay productos en el carrito.</p>
      {{/if}}
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Resumen del Carrito</div>
        <div class="card-body">
          <p id="totalPrice">Total: $</p>
          <button class="btn btn-success btn-block" id="purchaseCartButton">Comprar carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='/static/js/cart.js'></script>