<div>
  {{#if products}}
    <h2>Listado de Productos</h2>
    <table class="tg">
      <thead>
        <tr>
          <th class="tg-tk2y"><span style="font-weight:bold">Nombre</span></th>
          <th class="tg-tk2y"><span style="font-weight:bold">Precio</span></th>
          <th class="tg-tk2y"><span style="font-weight:bold">Código</span></th>
          <th class="tg-tk2y"><span style="font-weight:bold">Stock</span></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td class="tg-0lax">{{this.title}}</td>
            <td class="tg-0lax">{{this.price}}</td>
            <td class="tg-0lax">{{this.code}}</td>
            <td class="tg-0lax">{{this.stock}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h2>No hay productos para mostrar</h2>
  {{/if}}
</div>
<script src="/static/js/index.js"></script>