<div id="cidHolder" class="products-container" cid="{{loggedUserData.cart}}">
  {{#if products}}
  <div class="product-cards">
    {{#each products}}
    <div class="product-card" pid="{{_id}}">
      <div class="product-image">
        <img src="{{thumbnails.[0]}}" alt="{{title}}">
      </div>
      <h3 class="product-title">{{title}}</h3>
      <div class="product-details">
        <hr class="vertical-line" style="color: #00bcd4; opacity: 1.25; border: 1;">
        <p class="product-price">{{price}} USD</p>
        <p class="product-stock">Stock: {{stock}}</p>
        <hr class="vertical-line" style="color: #00bcd4; opacity: 1.25; border: 1;">
      </div>
      <div class="add-to-cart-button-container">
        <button class="add-to-cart-button">Agregar al carrito</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <h2>No hay productos para mostrar</h2>
  {{/if}}
</div>

<script src='/static/js/products.js'></script>