<div>
  {{#if loggedUserData}}
    <h1>Bienvenido/a
      {{loggedUserData.first_name}}
      {{loggedUserData.last_name}}
      - Rol:
      {{loggedUserData.role}}</h1>
  {{/if}}
  {{#if products}}
    <h2>Listado de Productos</h2>
    <table class='tg'>
      <thead>
        <tr>
          <th class='tg-tk2y'><span style='font-weight:bold'>Nombre</span></th>
          <th class='tg-tk2y'><span style='font-weight:bold'>Precio</span></th>
          <th class='tg-tk2y'><span style='font-weight:bold'>Código</span></th>
          <th class='tg-tk2y'><span style='font-weight:bold'>Stock</span></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td class='tg-0lax'>{{title}}</td>
            <td class='tg-0lax'>{{price}}</td>
            <td class='tg-0lax'>{{code}}</td>
            <td class='tg-0lax'>{{stock}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h2>No hay productos para mostrar</h2>
  {{/if}}
</div>
<br />

<form id='logoutForm' action='/api/sessions/logout' method='GET'>
  <input name='Logout' type='submit' value='Logout' />
</form>

<script src='/static/js/index.js'></script>